@font-face {
  font-family: "사월십육일";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("사월십육일 TTF"), local("사월십육일 OTF"),
  url("https://dun.land/x/April16th/April16th-Promise.woff2") format("woff2");
}
